
#video
web/kaleidoscope/downloads/*
web/kaleidoscope/uploads/*

#environment
env/
bashenv/

#django DB
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

ML/__pycache__
web/kaleidoscope/kaleidoscope/__pycache__
web/kaleidoscope/mainpage/__pycache__
web/kaleidoscope/tests/__pycache__
web/kaleidoscope/mainpage/migrations/__pycache__

web/kaleidoscope/mainpage/config.py
ML/config.py

# django-pod.yaml
# ml-pod.yaml
# Should only need to ignore the secret now
aws-secret.yaml