html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: #103259;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    flex-direction: column;
    flex: 1;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex:  1;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content img {
    max-width: 100%;
    max-height: 100%;
    z-index: 0;
}

.options {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: none;
    z-index: 1; /* Set z-index to make it appear on top */
}

.options a {
    display: block;
    text-decoration: none;
    color: #333;
    margin-bottom: 5px;
}

.options a:hover {
    background-color: #f0f0f0;
}

.topbar {
    height: 50px;
    background-color: #3AB0FF;
    display: flex;
    align-items: center; /* Added to vertically center items */
    padding: 20 20px; /* Added padding for better appearance */
    width: 100%;
    overflow: visible;
}

.topbar a {
    color: white;
    text-decoration: none;
    margin-right: 10px; /* Adjust spacing between items */
    margin-left: 5px;
}

.topbar a:last-child{
    margin-left: auto;
}

.topbar a:hover{
    color: #000000;
}

.logo {
    margin-right: 10px; /* Adjust spacing between logo and links */
    max-width: 100px; /* Set maximum width for the logo */
    max-height: 100%; /* Set maximum height for the logo */
}

.uploads-container {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.upload-submit {
    margin-bottom: 20px;
}

.submit-btn {
    display: flex;
    justify-content: center;
}

.downloads-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 90%; /* Adjusted height to take up most of the page */
    Width: 90%;
    flex: 1;
    margin-top: 10px;
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: scroll;
}

.downloads-container a {
    display: inline-block; /* Display links as block elements */
    margin-bottom: 10px; /* Space between links */
    padding: 5px 10px; /* Add padding for better appearance */
    color: #333; /* Text color */
    text-decoration: none;
}

.downloads-container a:hover {
    text-decoration: underline;
}


.login-container {
    position: relative;
    z-index: 1;
    max-width: 50vw; 
    margin: 0 auto;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.login-container input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-btn{
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-btn button{
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
}

.login-btn button:hover{
    background: #285a29;
}

.login-logo{
    max-width: 100px;
    max-height: 100%;
    margin-bottom: 2px;
}

.form-group{
    margin-bottom: 8px;
}

.no-account-msg{
    font-size: 12px;
    color: #b3b3b3;
    margin: 15px 0 0;
    font-family: "Roboto", sans-serif;
}

.no-account-msg a {
    color: #4CAF50;
    text-decoration: none;
}