<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Downloads Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<div class="topbar">
    <img src="{% static 'Kaleidoscope-nobackground.png' %}" alt="Logo" class="logo">
    <a href="/mainpage">Home</a>
    <a href="/upload">Upload</a>
    <a href="/logout">Logout</a>
</div>
<body>
    <div class="downloads-container">
        Your Video Collection:
        {% for file in files %}
        <a href="{% url 'download_file' file %}" download>{{ file.name }} </a>
            {% if file.status == "QUEUED" %}
                <div class="progress-bar">
                    <div class="progress" style="width:33%;">Queued</div>
                </div>
            {% endif %}
            {% if file.status == "PROGRESS" %}
                <div class="progress-bar">
                    <div class="progress" style="width:66%;">In Progress</div>
                </div>
            {% endif %}
            {% if file.status == "DONE" %}
                <div class="progress-bar">
                    <div class="progress" style="width:100%;">Video is Ready</div>
                </div>
            {% endif %}
        <br>
        {% endfor %}
    </div>
</body>