<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
{% if message %}
<script>
    alert('{{ message }}');
</script>
{% endif %}
<body>
    <form action="/signin_wait/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="login-container">
            <img src="{% static 'Kaleidoscope-nobackground.png' %}" alt="Logo" class="login-logo">
            <div class="form-group">
                <input type="text" name="email" id="email" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" name="pass" id="pass" placeholder="Password" required>
            </div>
            <div class="login-btn">
                <button type="submit">Login</button>
            </div>
        </div>
    </form>
</body>