<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<div class="topbar">
  <img src="{% static 'Kaleidoscope-nobackground.png' %}" alt="Logo" class="logo">
  <a href="/mainpage">Home</a>
  <a href="/download">Downloads</a>
  <a href="/logout">Logout</a>
</div>
<body>
  <form method="post" enctype="multipart/form-data">
    <div class="uploads-container">
      <div class="upload-submit">
        {{ form.as_p }}
        {% csrf_token %}
      </div>
      <div class="submit-btn">
        <button type="submit">Upload</button>
      </div>
    </div>
  </form>
</body>


